@import "../../sass/colors.scss";

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h1 {
        font-size: 2rem;
    }

    form {
        width: 35rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        background-color: white;
        padding: 2rem;
        border-radius: .5rem;

        .buttons {
            background-color: #fcfcfc;
            border: 1px solid #eee;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: .5rem;
            border-radius: .4rem;
            cursor: pointer;

            span {
                flex: 1;
                color: #52b44a;
                background-color: inherit;
                font-size: 1.6rem;
                border-radius: .4rem;
                padding: 1rem;
                transition: background-color .4s ease;


                &.active {
                    background-color: #52b44a;
                    color: white;
                }
            }
        }

        label {
            color: #3a3a3e;
            font-size: 1.4rem;
        }

        input {
            border: 1px solid #ddd;
            border-radius: .5rem;
            padding: 1rem;

            &::placeholder {
                color: #3f3f46;
                font-size: 1.5rem;
            }
        }

        .password {
            border: 1px solid #ddd;
            border-radius: .5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 1rem;
            
            input {
                border: none;
            }

            .eye {
                cursor: pointer;
                color: #3f3f46;
            }


        }

        button {
            background-color: #52b44a;
            color: white;
            padding: 1rem;
            border-radius: .5rem;
            font-size: 1.7rem;
            cursor: pointer;
        }

        span {
            color: map-get($big-stone, "800");
            font-size: 1.4rem;
            cursor: pointer;
        }

    }

}