@import "../../sass/colors.scss";
@import "../../sass/responsive.scss";



.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    


    .cards-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem;
    }



    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 3rem;

        @include sm {
            gap: 1rem;
        }

        .page {
            padding: 1rem 2rem;
            border-radius: .3rem;
            color: #454548;
            background-color: #d1d2d3;
            border: 1px solid #ddd;
            font-size: 1.7rem;
            font-weight: 600;
            color: map-get($big-stone , '950' );
            cursor: pointer;

            @include sm {
                padding: .75rem 1.5rem;
            }

        }
    }
}