@import "../../responsive.scss";
@import "../../colors.scss";


.filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        font-size: 2.6rem;
        font-weight: 300;
        color: $txt-clr-3;

        @include sm {
            font-size: 2rem;
        }

        b {
            font-weight: 500;
        }
    }

    .map-search {
        display: none;


        @include md {
            position: absolute;
            top: 2rem;
            right: 0;
            display: flex;
            align-items: center;
            gap: 1rem;
            color: white;
            background-color: $bg-clr-2;
            padding: .5rem;
            border-radius: 1rem;
            font-size: 1.4rem;
            cursor: pointer;
        }

        span {
            font-size: 1.3rem;

            @include sm {
                display: none;
            }
        }

    }


    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;


        .up,
        .down {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }


        .up {
            gap: 1rem;
            justify-content: space-between;

            @include sm {
                flex-direction: column;
                align-items: unset;
            }

            .address-input {
                flex: 2;
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: .6rem;
                border: 1px solid #B5B3B3;
                border-radius: .4rem;
                color: $txt-clr-3;

                @include md {
                    flex: 0;
                    gap: .5rem;


                    input::placeholder {
                        font-size: 10.5px;
                    }

                }

                @include sm {
                    max-width: 30rem;
                }

                input {
                    flex: 1;
                    border: none;

                }

            }

            select {
                flex: 1;
                color: $txt-clr-3;
                font-size: 1.2rem;
                background-color: $txt-clr-soft;
                border: none;
                border-radius: .3rem;
                padding: .8rem;
                cursor: pointer;

                @include sm {
                    max-width: 15rem;
                    padding: .5rem;
                }
            }

        }


        .down {
            width: 100%;
            padding: 1rem;
            justify-content: space-around;


            @include md {
                padding: 0rem;
            }

            label {
                font-size: 1.2rem;
                color: $txt-clr-2;

                @include md {
                    display: none;
                }
            }

            input {
                padding: .5rem;
                border: 1px solid #B5B3B3;
                border-radius: .4rem;
                color: $txt-clr-3;

                @include sm {
                    width: 11rem;
                }
            }


            button {
                width: 8rem;
                padding: .4rem;
                border-radius: .4rem;
                background-color: $bg-clr-2;
                cursor: pointer;

                @include sm {
                    width: 4rem;
                }


                img {
                    width: 2rem;
                    height: 2rem;

                    @include sm {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }

        }


    }


}