@import "../../sass/responsive.scss";
@import "../../sass/colors.scss";



.card {
    width: 100%;
    height: 22rem;
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: .4rem;


    @include sm {
        height: 35rem;
    }


 

    .container {
        display: flex;
        height: 100%;


        @include sm {
            flex-direction: column;
        }


        .cover {
            flex: 1;
            width: 100%;
            height: 100%;

            @include sm {
                flex: 3;
                width: 100%;
                height: 100%;
            }

        }

        .card-details {
            flex: 2;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 2rem;
            
            
            @include sm {
                flex: 3;
                gap: 1rem;
                order: 2;
            }

            h1 {
                font-size: 1.8rem;
                color: #4c4c4c;

                @include md {
                    font-size: 1.4rem;
                }
                @include sm {
                    font-size: 1.2rem;
                }
            }

            .price {
                color: map-get($big-stone, "800");
                font-size: 1.6rem;
                font-weight: 700;
                font-family: "Rubik", sans-serif;

                @include md {
                    font-size: 1.5rem;
                }

                @include sm {
                    font-size: 1.3rem;
                }
            }

            .property-features {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                @include sm {
                    gap: .5rem;
                }

                span {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: #33272a;

                    @include md {
                        font-size: 1.4rem;
                    }

                    @include sm {
                        font-size: 1rem;
                        gap: .5rem;
                    }


                    img {
                        width: 2.3rem;
                        height: 2.3rem;

                        @include sm {
                            width: 2rem;
                            height: 2rem;
                        }
                        
                    }
                }
            }


            .description {
                font-size: 1.5rem;
                margin-top: auto;
                color: #757575;

                @include md {
                    font-size: 1.4rem;
                }

                @include sm {
                    font-size: 1.2rem;
                }

            }

        }


    }
}