.add-proprety {
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        width: 50%;
        min-height: 40rem;
        background-color: white;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
       
        
        .multi-form___btns {
            display: flex;
            align-items: center;
            gap: 2rem;

            button {
                padding: 1rem;
                
            }

        }



    }


}